/* Infinite Scroll JavaScript */
#js-load-more-manual > * {
  display: block !important;
}

#infscr-loading {
  color: #aeaeae;
  text-align: center;
  z-index: 31;
  position: absolute;
  left: 50%;
  bottom: 15px;
  opacity: 1;
  min-width: 80px;
  margin-left: -40px;
  height: 80px;
  line-height: 80px;
  background: #e4e4e4;
  color: #ffffff;
  border-radius: 100px;
  img {
    margin: 20px 0px;
    display: inline-block !important;
  }

  div#no-more-posts {
    display: none !important;
  }
}
