// wordpress template
.progression-studios-transparent-header header#masthead-pro {
  background-color: transparent;
  box-shadow: none;
  -webkit-font-smoothing: antialiased;
}

.progression-studios-transparent-header
  .progression-sticky-scrolled
  header#masthead-pro,
header#masthead-pro {
  z-index: 50;
  position: relative;
  width: 100%;
}

.progression-sticky-scrolled header#masthead-pro {
  border: none;
}

.progression-studios-logo-position-right header#masthead-pro h1#logo-pro,
.progression-studios-logo-position-right h1#logo-pro {
  float: right;
  margin-left: 25px;
  margin-right: 0px;
}

body .progression-studios-logo-position-center header#masthead-pro h1#logo-pro,
body .progression-studios-logo-position-center h1#logo-pro {
  float: none;
  margin: 0 auto;
  text-align: center;
}
body .progression-studios-logo-position-center h1#logo-pro img {
  margin: 0 auto;
}

body.admin-bar .progression-sticky-scrolled {
  margin-top: 32px;
}

.progression-studios-sticky-logo {
  display: none;
  float: left;
}
.progression-sticky-scrolled .progression-studios-sticky-logo {
  display: block;
}

.progression-sticky-scrolled .progression-studios-hide-mobile-custom-logo {
  display: none;
}

.progression-sticky-scrolled
  .progression-studios-custom-logo-per-page-hide-default {
  display: block;
}

.progression-studios-custom-logo-per-page-hide-default {
  display: none;
}

#progression-shopping-cart-count a {
  margin: 0px;
}

#progression-shopping-cart-toggle.activated-class a i.shopping-cart-header-icon,
#progression-shopping-cart-count i.shopping-cart-header-icon {
  padding-left: 8px;
  padding-right: 8px;
}

#progression-shopping-cart-count i.shopping-cart-header-icon,
#progression-studios-header-search-icon i.pe-7s-search:before {
  -webkit-text-stroke: 0.5px;
  -moz-text-stroke: 0.5px;
  text-stroke: 0.5px;
  position: relative;
  top: 0px;
}

#progression-studios-header-search-icon.active-search-icon-pro
  i.pe-7s-search:before {
  content: '\e680';
}

#progression-studios-header-login-container a.progresion-studios-login-icon,
#progression-studios-header-search-icon i.pe-7s-search {
  cursor: pointer;
}

#progression-studios-header-search-icon {
  float: right;
  position: relative;
  margin-left: -3px;
}

#progression-shopping-cart-count {
  float: right;
  position: relative;
  margin-right: 15px;
}

#progression-studios-header-search-icon i.pe-7s-search {
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px;
}

#progression-shopping-cart-count a.progression-count-icon-nav {
  display: block;
  position: relative;
  margin-left: 0px;
}

#progression-shopping-cart-count span.progression-cart-count {
  position: absolute;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  float: right;
  margin-top: -7px;
  right: 2px;
  background: #aaaaaa;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 7px;
  letter-spacing: 0px;
}

#progression-studios-header-login-container a.progresion-studios-login-icon {
  padding-left: 8px;
  padding-right: 2px;
  display: block;
}

#progression-studios-header-search-icon i.pe-7s-search span,
#progression-studios-header-login-container
  a.progresion-studios-login-icon
  span {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 400;
  font-size: 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  position: relative;
  top: -3px;
  padding-left: 8px;
}
#progression-studios-header-search-icon i.pe-7s-search span {
  top: -6px;
  display: none;
}

// Breadcrumbs Styles
ul#breadcrumbs-progression-studios {
  list-style: none;
  text-align: center;
  position: relative;
  z-index: 20;
  color: #ffffff;
  padding: 0px;
  margin: 35px 0px 0px 0px;
  font-size: 14px;
  font-weight: 600;
}

ul#breadcrumbs-progression-studios li {
  display: inline;
  padding: 0px;
  margin: 0px;
  color: rgba(255, 255, 255, 0.7);
}

ul#breadcrumbs-progression-studios li:last-child:after,
#page-title-pro ul#breadcrumbs-progression-studios li.home {
  display: none;
}

ul#breadcrumbs-progression-studios li a {
  color: rgba(255, 255, 255, 0.7);
}

ul#breadcrumbs-progression-studios li a:hover {
  color: #ffffff;
}

ul#breadcrumbs-progression-studios li:after {
  display: inline-block;
  position: relative;
  top: -1px;
  font-size: 12px;
  padding: 0px 10px;
  content: '—';
}

ul#breadcrumbs-progression-studios li.current_item {
  margin-left: -4px;
}

ul#breadcrumbs-progression-studios li:last-child:after {
  display: none;
}

body.error404 ul#breadcrumbs-progression-studios li:nth-child(3) {
  display: none;
}
