/* --------------------
C. CSS3 TRANSITIONS
あとでmixinをincludeをする
-------------------- */
h2.progression-ratency-progression-slider-title,
h2.overlay-progression-blog-title,
.related-overlay-blog-meta-category-list span,
.overlay-progression-studios-blog-image,
#progression-studios-nav-bg,
h3.helpmeout-loop-category__title,
.wpcrowd-arrow-down,
select,
.sf-menu li.highlight-button a:before,
.mobile-menu-icon-pro,
a, input, textarea {
  transition-duration: 250ms;
  transition-property: color, background-color, opacity, border;
  transition-timing-function: ease-in-out;
}

.progression-ratency-slider-thumb-gradient {
  transition-duration: 350ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}
.helpmeout-categoryoverlay-image-color,
#progression-studios-header-login-container a.progresion-studios-login-icon,
.wpneo-buttons-group button, input.wpneo-submit-campaign, input#wpneo_active_edit_form,
.helpmeout-overlay,
.helpmeout-rewards-select_button button.select_rewards_button,
ul.wpneo-crowdfunding-update li span.round-circle,
button.wpneo_donate_button,
h2.woocommerce-loop-category__title,
h2.woocommerce-loop-product__title,
#progression-shopping-cart-toggle a i.shopping-cart-header-icon,
#progression-studios-header-search-icon i,
#boxed-layout-pro input#submit,
.tml-submit-wrap input.button-primary,
body .acf-form .acf-field .acf-input-wrap input, .acf-form-submit input.button,
#woocomerce-tabs-container-progression-studios .woocommerce-tabs ul.wc-tabs li,
#woocomerce-tabs-container-progression-studios .woocommerce-tabs ul.wc-tabs li a,
#boxed-layout-pro button.button,
ul.progression-filter-button-group li:after,
ul.progression-filter-button-group li,
.flex-control-paging li a,
.slider-play-icon,
.single-blog-play-icon,
ul.blog-single-social-sharing li a:before,
.blog-play-icon,
footer#site-footer a,
.tp-thumbs.custom .tp-thumb, .progression-mini-banner-icon,
#progression-shopping-cart-count span.progression-cart-count,
.pp_contract:after, .pp_expand:after,
a.pp_close:before, a.pp_close:after, a.pp_previous:before, a.pp_next:before, .sf-menu a:before  {
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

#logo-pro img,
.sf-menu a,
#progression-shopping-cart-count a {
  transition-duration: 250ms;
  transition-property:  padding-top, padding-bottom, color, background-color, width;
  transition-timing-function: ease-in-out;
}

header#masthead-pro:after {
  transition-duration: 350ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}
header#masthead-pro {
  transition-duration: 350ms;
  transition-property: background;
  transition-timing-function: ease-in-out;
}

.no-hover-transition {
  transition-duration: 0ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

/* Animation For Menus */
@keyframes ProMoveUp {
  from { }
  to { transform: translateY(0px); opacity: 1;  }
}

@keyframes ProMoveOut {
  from { visibility:visible; opacity:1; }
  to {  opacity: 0; visibility:hidden; }
}

li.sfHover ul.sf-mega,
li.sfHover ul.sub-menu {
  transform: translateY(20px);
  opacity:0;
  animation-duration:250ms;
  animation-name: ProMoveUp;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

body #progression-checkout-basket {
  opacity:0;
  visibility:hidden;
}

body .hover-out-class #progression-checkout-basket {
  animation-duration:200ms;
  animation-name: ProMoveOut;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

body .activated-class #progression-checkout-basket {
  transform: translateY(20px);
  opacity:0;
  visibility:visible;
  animation-duration:250ms;
  animation-name: ProMoveUp;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


body #progression-studios-header-search-icon.hide-search-icon-pro #panel-search-progression {
  animation-duration:200ms;
  animation-name: ProMoveOut;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

body #progression-studios-header-search-icon.active-search-icon-pro #panel-search-progression {
  transform: translateY(20px);
  visibility:visible;
  animation-duration:250ms;
  animation-name: ProMoveUp;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
body #panel-search-progression {
  visibility: hidden;
  z-index:5;
  opacity: 0;
}


body #progression-studios-header-login-container.helpmeout-hover-out-class #progression-studios-panel-login {
  animation-duration:200ms;
  animation-name: ProMoveOut;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

body #progression-studios-header-login-container.helpmeout-activated-class #progression-studios-panel-login {
  transform: translateY(20px);
  visibility:visible;
  animation-duration:250ms;
  animation-name: ProMoveUp;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
body #progression-studios-panel-login {
  visibility: hidden;
  z-index:15;
  opacity: 0;
}
