.progression-studios-header-full-width-no-gap #ratency-progression-header-top .l-container,
footer#site-footer.progression-studios-footer-full-width .l-container,
.progression-studios-header-full-width #ratency-progression-header-top .l-container,
.progression-studios-page-title-full-width #page-title-pro .l-container {
  width:auto;
  padding-right:50px;
  padding-left:50px;
}

.progression-studios-header-full-width header#masthead-pro .l-container {
  width:auto;
  margin:0px auto;
  padding:0px;
}

@media only screen and (min-width: 960px) {
.progression-studios-header-full-width-no-gap.progression-studios-header-cart-width-adjustment header#masthead-pro .l-container,
.progression-studios-header-full-width.progression-studios-header-cart-width-adjustment header#masthead-pro .l-container {
  padding-right:0px;
}
}

.progression-studios-header-full-width-no-gap header#masthead-pro .l-container {
  width:auto;
  padding-right:20px;
}
