/*  Table of Contents

27. RESPONSIVE STYLES
28. TRANSLATION STYLES
*/


/*
=============================================== 27. RESPONSIVE STYLES ===============================================
*/

/* ======== #Tablet (768px-959px) ======== */
@media only screen and (min-width: 768px) and (max-width: 959px) {


  #progression-sticky-header {
    position:relative !important;
  }


  .progression-studios-header-full-width-no-gap #ratency-progression-header-top .l-container,
  footer#site-footer.progression-studios-footer-full-width .l-container,
  .progression-studios-page-title-full-width #page-title-pro .l-container,
  .progression-studios-header-full-width #ratency-progression-header-top .l-container,
  .progression-studios-header-full-width header#masthead-pro .l-container {
    width:94%;
    position:relative;
    padding:0px;
  }

  .progression-studios-header-full-width header#masthead-pro .l-container {
    width:auto;
    margin:0 auto;
    position:relative;
    padding:0px;
  }

  footer#site-footer.progression-studios-footer-full-width .l-container,
  footer#site-footer .l-container {
    width:92%;
  }

  .progression-studios-header-full-width-no-gap.progression-studios-header-cart-width-adjustment header#masthead-pro .l-container,
  .progression-studios-header-full-width.progression-studios-header-cart-width-adjustment header#masthead-pro .l-container {
    width:96%;
    margin-left:4%;
    padding-right:0;
  }




  .progression-studios-transparent-header header#masthead-pro {
    position:relative;
  }

  body .progression-studios-transparent-header header#masthead-pro:after{
    display:none;
  }

  .progression-studios-hide-mobile-custom-logo {
    display:none;
  }

  .progression-studios-custom-logo-per-page-hide-default {
    display:block;
  }

  .progression-studios-header-left, .progression-studios-header-right {
    float:none;
    width:100%;
    text-align:center;
  }

  #progression-header-top-right-container, .progression-studios-header-right .widget, #progression-header-top-left-container, .progression-studios-header-left .widget {
    display:inline-block;
    float:none;
  }

  #ratency-progression-header-top.progression_studios_hide_top_left_right .progression-studios-header-right,
  #ratency-progression-header-top.progression_studios_hide_top_left_bar .progression-studios-header-left,
  #ratency-progression-header-top.progression_studios_hide_top_left_bar.progression_studios_hide_top_left_right {
    display:none;
  }

  body .progression-studios-mobile-transparent-header header#masthead-pro {
    position:absolute;
    z-index:50;
    background-color:transparent;
  }
  body .progression-studios-mobile-transparent-header header#masthead-pro:after {
    display:block;
  }

  .progression_studios_footer_logo_left #progression-studios-footer-logo,
  .progression_studios_footer_logo_right #progression-studios-footer-logo,
  .footer-copyright-align-right #copyright-text {
  text-align:center;
  float:none;
  }





  #copyright-text {
    text-align:center;
    float:none;
  }
  .footer-copyright-align-right #copyright-text, #copyright-text {
    float:none;
    width:100%;
  }


  footer#site-footer ul.progression-studios-footer-nav-container-class,
  footer#site-footer.progression_studios_nav_footer_center ul.progression-studios-footer-nav-container-class,
  footer#site-footer.progression_studios_nav_footer_left ul.progression-studios-footer-nav-container-class {
    float:none;
    margin:0 auto;
    text-align:center;
  }

  .progression_studios_footer_logo_left #progression-studios-footer-logo,
  .progression_studios_footer_logo_right #progression-studios-footer-logo,
  .footer-copyright-align-right #copyright-text {
    text-align:center;
    float:none;
  }



  .progression-studios-social-icon-address-phone {
    padding-left:22px;
  }


  #progression-studios-header-login-container a.progresion-studios-login-icon {
    padding-right:12px;
  }



  #masthead-pro .search-form input.search-field {
    width:200px;
    max-width:90%;
  }
  ul.progression-studios-header-social-icons li a {
    margin:0px 4px 0px 4px;
  }

  ul.progression-author-icons li:after {
    padding:0px 10px;
  }
  ul.progression-author-icons li a {
    font-size:15px;
  }

  ul.progression-author-icons span {
    padding-left:6px;
  }

  ul.blog-single-social-sharing li a {
    font-size:13px;
    height:40px;
    line-height:40px;
  }


  body .progression_elements_slider_dots_visiblity_tablet_mobile .flex-control-paging a {
    display:block;
  }

  .progression-ratency-slider-thumbnail-position {
    display:none;
  }

}



/* ======== #Mobile (0px-767px) ======== */
@media only screen and (max-width: 767px) {

  #progression-sticky-header {
    position:relative !important;
  }

  .progression-studios-header-full-width-no-gap #ratency-progression-header-top .l-container,
  footer#site-footer.progression-studios-footer-full-width .l-container,
  .progression-studios-page-title-full-width #page-title-pro .l-container,
  .progression-studios-header-full-width #ratency-progression-header-top .l-container,
  .progression-studios-header-full-width header#masthead-pro .l-container {
    width:92%;
    position:relative;
    padding:0px;
  }

  .progression-studios-header-full-width header#masthead-pro .l-container {
    width:auto;
    margin:0 auto;
    position:relative;
    padding:0px;
  }

  footer#site-footer.progression-studios-footer-full-width .l-container,
  footer#site-footer .l-container {
    width:88%;
  }

  .progression-studios-header-full-width-no-gap.progression-studios-header-cart-width-adjustment header#masthead-pro .l-container,
  .progression-studios-header-full-width.progression-studios-header-cart-width-adjustment header#masthead-pro .l-container {
    width:94%;
    margin-left:6%;
    padding-right:0;
  }

  #main-container-pro, .sidebar,
  .footer-2-pro .widget, .footer-3-pro .widget, .footer-4-pro .widget, .footer-5-pro .widget,
  .grid2column-progression, .grid3column-progression, .grid3columnbig-progression, .grid4column-progression, .grid4columnbig-progression, .grid5column-progression, .grid6column-progression  {
    width:100%;
    margin-right:0%;
    margin-left:0%;
  }


  .sidebar.progression-studios-mobile-sidebar {
    padding-top:0px;
  }
  .sidebar {
    padding-top:60px;
  }


  #panel-search-progression {display:none !important;}


  .progression-studios-hide-mobile-custom-logo {
    display:none;
  }

  .progression-studios-transparent-header header#masthead-pro {
    position:relative;
  }
  body .progression-studios-transparent-header header#masthead-pro:after {
    display:none;
  }

  .progression-studios-custom-logo-per-page-hide-default {
    display:block;
  }

  .progression-studios-header-left, .progression-studios-header-right {
    float:none;
    width:100%;
    text-align:center;
  }

  #progression-header-top-right-container, .progression-studios-header-right .widget, #progression-header-top-left-container, .progression-studios-header-left .widget {
    display:inline-block;
    float:none;
  }

  #copyright-text {
    text-align:center;
    float:none;
  }

  #ratency-progression-header-top.progression_studios_hide_top_left_right .progression-studios-header-right,
  #ratency-progression-header-top.progression_studios_hide_top_left_bar .progression-studios-header-left,
  #ratency-progression-header-top.progression_studios_hide_top_left_bar.progression_studios_hide_top_left_right {
    display:none;
  }

  body.admin-bar .progression-sticky-scrolled header#masthead-pro  {
    margin-top:-36px;
  }

  .footer-copyright-align-right #copyright-text, #copyright-text {
    float:none;
    width:100%;
  }


  body .progression-studios-mobile-transparent-header header#masthead-pro {
    position:absolute;
    z-index:50;
    background-color:transparent;
  }
  body .progression-studios-mobile-transparent-header header#masthead-pro:after {
    display:block;
  }

  footer#site-footer ul.progression-studios-footer-nav-container-class,
  footer#site-footer.progression_studios_nav_footer_center ul.progression-studios-footer-nav-container-class,
  footer#site-footer.progression_studios_nav_footer_left ul.progression-studios-footer-nav-container-class {
    float:none;
    margin:0 auto;
    text-align:center;
  }

  .progression_studios_footer_logo_left #progression-studios-footer-logo,
  .progression_studios_footer_logo_right #progression-studios-footer-logo,
  .footer-copyright-align-right #copyright-text {
    text-align:center;
    float:none;
  }



  body .progression-studios-header-left .widget, body .progression-studios-header-right .widget {
    padding-top:8px;
    padding-bottom:8px;
  }

  #copyright-divider-top {
    margin:0 auto;
  }

  /* Blog Comment Styling */
  .comment-navigation .nav-previous, .comment-navigation .nav-next {
    float:none;
    width:100%;
    text-align:center;
  }

  .comment-body:before {
    display:none;
  }
  .comment-author .avatar {
    height: 25px;
    width: 25px;
  }

  .comment-body {
    padding:14px 15px;
    margin-left:32px;
  }



  .comment-list .children > li {
    margin-left: 12px;
  }



  .post-password-form input {
    max-width:130px;
  }


  #woocomerce-tabs-container-progression-studios {
    position:relative;
    top:-38px;
  }




  #page-title-pro h4 {
    width:100%;
  }





  #page-title-pro h1 {
    font-size:46px;
    line-height:1.4;
  }


  #page-title-pro h4 {
    font-size:15px;
  }

  #progression-studios-post-page-title h1 {
    font-size:46px;
    line-height:1.4;
  }

  #progression-studios-post-page-title h4 {
    font-size:15px;
  }
  ul.progression-studios-single-post-meta li {
    font-size:15px;
  }




  body header#masthead-pro h1#logo-pro {
    margin-left:auto;
    margin-right:auto;
    text-align:center ;
  }

  ul.progression-studios-header-social-icons {
    text-align:center;
  }

  body #masthead-pro .search-form {
    padding:0px 0px 22px 0px;
  }



  ul.progression-studios-related-list li.progression-studios-related-list-item:nth-child(1),
  ul.progression-studios-related-list li.progression-studios-related-list-item:nth-child(2),
  ul.progression-studios-related-list li.progression-studios-related-list-item:nth-child(3) {
    width:100%;
  }

  ul.progression-studios-related-list li.progression-studios-related-list-item .overlay-progression-blog-content,
  ul.progression-studios-related-list li.progression-studios-related-list-item:nth-child(1) .overlay-progression-blog-content,
  ul.progression-studios-related-list li.progression-studios-related-list-item:nth-child(2) .overlay-progression-blog-content {
    min-height:300px;
    height:300px;
    margin-bottom:2px;
  }
  ul.progression-author-icons li:after {
    padding:0px 6px;
  }
  ul.progression-author-icons li a {
    font-size:14px;
  }

  ul.progression-author-icons span {
    padding-left:5px;
  }



  ul.blog-single-social-sharing li a {
    height:40px;
    line-height:40px;
  }
  ul.blog-single-social-sharing li a i {
    font-size:15px;
  }
  ul.blog-single-social-sharing span {
    display:none;
  }

  .progression-blog-review-content {
    padding-left:25px;
    padding-right:25px;
  }

  .progression-blog-review-content .grid2column-progression.lastcolumn-progression {
    margin-top:30px;
  }

  .progression-blog-review-content .grid2column-progression:after {
    display:none;
  }


  body .progression_elements_slider_dots_visiblity_tablet_mobile .flex-control-paging a {
    display:block;
  }

  .progression-ratency-slider-thumbnail-position {
    display:none;
  }

  .progression-studios-image-float-left,
  .progression-studios-content-float-right {
    float:none;
    width:100%;
  }

  .progression-studios-default-blog-left .progression-studios-image-float-left {
    margin-bottom:20px;
  }

}

/* --------------------
28. CSS3 TRANSITIONS
あとでmixinをincludeをする
-------------------- */
a, input, textarea {
  transition-duration: 250ms;
  transition-property: color, background-color, opacity, border;
  transition-timing-function: ease-in-out;
}

.progression-ratency-slider-thumb-gradient {
  transition-duration: 350ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

header#masthead-pro:after {
  transition-duration: 350ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}
header#masthead-pro {
  transition-duration: 350ms;
  transition-property: background;
  transition-timing-function: ease-in-out;
}

.no-hover-transition {
  transition-duration: 0ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

/* Animation For Menus */
@keyframes ProMoveUp {
  from { }
  to { transform: translateY(0px); opacity: 1;  }
}

@keyframes ProMoveOut {
  from { visibility:visible; opacity:1; }
  to {  opacity: 0; visibility:hidden; }
}

li.sfHover ul.sf-mega,
li.sfHover ul.sub-menu {
  transform: translateY(20px);
  opacity:0;
  animation-duration:250ms;
  animation-name: ProMoveUp;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

body #progression-checkout-basket {
  opacity:0;
  visibility:hidden;
}

body .hover-out-class #progression-checkout-basket {
  animation-duration:200ms;
  animation-name: ProMoveOut;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

body .activated-class #progression-checkout-basket {
  transform: translateY(20px);
  opacity:0;
  visibility:visible;
  animation-duration:250ms;
  animation-name: ProMoveUp;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


body #progression-studios-header-search-icon.hide-search-icon-pro #panel-search-progression {
  animation-duration:200ms;
  animation-name: ProMoveOut;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

body #progression-studios-header-search-icon.active-search-icon-pro #panel-search-progression {
  transform: translateY(20px);
  visibility:visible;
  animation-duration:250ms;
  animation-name: ProMoveUp;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
body #panel-search-progression {
  visibility: hidden;
  z-index:5;
  opacity: 0;
}


body #progression-studios-header-login-container.helpmeout-hover-out-class #progression-studios-panel-login {
  animation-duration:200ms;
  animation-name: ProMoveOut;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

body #progression-studios-header-login-container.helpmeout-activated-class #progression-studios-panel-login {
  transform: translateY(20px);
  visibility:visible;
  animation-duration:250ms;
  animation-name: ProMoveUp;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
body #progression-studios-panel-login {
  visibility: hidden;
  z-index:15;
  opacity: 0;
}
