@use '../../global/variable/colors' as color;
@use '../../global/variable/fontWeight' as fontWeight;
@use '../../global/mixin/fontSize' as *;
@use '../../global/mixin/transition' as *;

.c-button {
  &__loadmore {
    a {
      width: auto;
      max-width: 1200px;
      display: block;
      text-align: center;
      border-radius: 4px;
      padding: 18px 26px;
      text-transform: uppercase;
      font-style: italic;
      background-color: color.$category;
      color: color.$white;
      @include all-transition;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
