@use '../../global/variable/colors' as color;
@use '../../global/variable/fontWeight' as fontWeight;
@import '../../global/mixin/fontSize';
@import '../../global/mixin/transition';

.c-button {
  &__loadmore {
    a {
      width: auto;
      max-width: 1200px;
      display: block;
      text-align: center;
      border-radius: 4px;
      padding: 18px 26px;
      text-transform: uppercase;
      font-style: italic;
      background-color: color.$gray300;
      color: color.$gray700;
      @include all-transition;
      &:hover {
        background-color: color.$category;
        color: color.$white;
      }
    }
  }
}
