@use '../../global/variable/colors' as color;
@use '../../global/variable/fontWeight' as fontWeight;
@import '../../global/mixin/fontSize';

.c-category {
  text-align: center;
  display: inline-block;
  font-weight: fontWeight.$fontMedium;
  color: color.$white;
  background: color.$category;
  padding: 9px 22px;
  transform: skewX(-8deg);
  @include text-sm;
  & a {
    color: color.$white;
  }
  &__small {
    font-size: 0.75rem; /* 12px */
    line-height: 0.75rem;
    padding: 9px 20px;
  }
}
