@use '../../global/variable/color' as color;
@use '../../global/variable/fontWeight' as fontWeight;
@import '../../global/mixin/fontSize';

.c-category {
  text-align: center;
  @include text-sm;
  display: inline-block;
  font-weight: fontWeight.$fontMedium;
  color: color.$white;
  background: color.$category;
  padding: 9px 22px;
  transform: skewX(-8deg);
  & a {
    color: color.$white;
  }
}
