@use '../../global/mixin/fontSize';
$hamburgerMenuHeight: 24px;
$hamburgerMenuLineHeight: calc(#{$hamburgerMenuHeight} / 3 - 4px);
.c-hamburgerMenu {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  @include fontSize.text-xl();
  &__lineContainer {
    position: relative;
    width: 30px;
    height: $hamburgerMenuHeight;
    display: block;
  }
  &__line {
    display: block;
    width: 100%;
    height: $hamburgerMenuLineHeight;
    background-color: #000;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    transition: transform 0.3s ease-out;
    &:nth-child(1) {
      top: $hamburgerMenuLineHeight;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }
  &__label {
    margin-left: 0.5em;
    height: $hamburgerMenuHeight;
    display: block;
  }
}
.change-line {
  .c-hamburgerMenu {
    &__line {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
}
