@use '../../global/variable/colors' as color;
@use '../../global/variable/fontWeight' as fontWeight;

.c-heading {
  &__title {
    word-break: break-word;
    word-wrap: break-word;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    color: color.$white;
    font-weight: fontWeight.$fontMedium;
    font-size: 68px;
    line-height: 1.4;
  }
}
