@use '../../global/variable/colors' as color;
@use '../../global/variable/fontWeight' as fontWeight;

.c-pagination {
  list-style: none;
  text-align: center;
  .nav-links {
    display: flex;
    gap: 8px;
    justify-content: center;
  }

  .page-numbers {
    display: block;
    line-height: 1;
    text-align: center;
    padding: 16px;
    min-width: 16px;
    border-radius: 0px;
    text-transform: uppercase;
    background: color.$gray300;
    color: #1e023d;
    &:hover {
      background: color.$category;
      color: color.$white;
  }
  }
  .current {
    background: color.$category;
    color: color.$white;
  }
}
