@use '../../global/variable/color' as color;
@import '../../global/mixin/fontSize';

$searchBlockSize: 28px;
.c-search {
  &__label {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  }
  &__field {
    padding: 6px 0;
    width: 290px;
    @include text-sm;
    font-style: italic;
    color: rgba(255, 255, 255, 0.85);
  }
  &__submit {
    display: block;
    width: $searchBlockSize;
    height: $searchBlockSize + 10px;
    border-top-right-radius: 12px 12px;
    border-bottom-right-radius: 12px 12px;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
