@use '../../global/variable/colors' as color;
@use '../../global/variable/fontWeight' as fontWeight;
@use '../../global/mixin/fontSize';

.c-tags {
  $iconHeight: 30px;
  display: flex;
  &::before {
    content: '';
    background: center / contain no-repeat
      url('https://katsumascore.blog/images/icon_tag.png');
    width: $iconHeight;
    height: $iconHeight;
    display: block;
    margin-right: 7px;
  }
  a {
    display: inline-block;
    padding: 0px 16px;
    height: $iconHeight;
    line-height: $iconHeight;
    font-size: 14px;
    color: color.$gray100;
    background: rgba(107, 114, 128, 0.7);
    transform: skewX(-8deg);
    &:hover {
      color: color.$gray900;
      background: rgba(209, 213, 219, 1);
    }
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
