@use '../../global/variable/colors' as color;
@use '../../global/variable/fontWeight' as fontWeight;
@import '../../global/mixin/fontSize';

.c-widget {
  &:not(:last-child) {
    margin-bottom: 50px;
  }
  > h2 {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: fontWeight.$fontNormal;
    color: color.$gray900;
    @include text-xl;
  }
  &.widget_block {
    h2 {
      margin-bottom: -50px;
    }
  }
  &.widget_categories {
    .cat-item {
      position: relative;
      margin: 0 0 12px;
      padding: 0 0 12px 20px;
      border-bottom: 1px solid #dfe0e2;
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .count {
          $fontSize: 0.75rem;
          $blockSize: calc(#{$fontSize} + 10px);
          color: color.$gray500;
          display: inline-block;
          text-align: center;
          width: $blockSize;
          height: $blockSize;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.06);
          line-height: $blockSize;
          font-size: $fontSize;
        }
      }
    }
  }
}
