@use '../global/variable/className' as className;
@use '../global/mixin/screens' as *;

.l-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0px;

  &__showSidebar {
    @include mq('md') {
      display: flex;
      justify-content: space-between;
    }
  }
}
