@use '../global/variable/className' as className;

.l-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0px;

  @media only screen and (min-width: 960px) {
    #{className.$progression-studios-header-full-width-no-gap}.progression-studios-header-cart-width-adjustment
      header#masthead-pro
      .l-container {
      padding-right: 0px;
    }
  }

  #{className.$progression-studios-header-full-width-no-gap}
    #ratency-progression-header-top
    .l-container,
  footer#site-footer.progression-studios-footer-full-width &,
  #{className.$progression-studios-header-full-width}
    #ratency-progression-header-top
    .l-container,
  .progression-studios-page-title-full-width #page-title-pro & {
    width: auto;
    padding-right: 50px;
    padding-left: 50px;
  }

  #{className.$progression-studios-header-full-width} header#masthead-pro & {
    width: auto;
    margin: 0px auto;
    padding: 0px;
  }

  #{className.$progression-studios-header-full-width-no-gap}
    header#masthead-pro
    & {
    width: auto;
    padding-right: 20px;
  }
}
