@use '../global/variable/colors' as color;
@use '../global/mixin/screens' as *;
@use '../global/mixin/fontSize' as *;
@use '../global/mixin/transition' as *;
.l-navigation {
  $AnchorPaddingY: 28px;
  $linkListHeight: calc(#{$AnchorPaddingY} * 2 + 1.5rem);
  $countLinkList: 4;
  background: color.$navigation;
  &__menuButton {
    color: color.$white;
    padding: 25px 0;
    &--hidden {
      display: none;
    }
    .c-hamburgerMenu {
      color: color.$white;
      &__line {
        background-color: color.$white;
      }
    }
  }
  &__list {
    .c-list__header {
      max-height: 0;
      display: block;
      background-color: color.$header;
      @include select-props-transition('max-height');
    }
  }

  // Desktop 表示
  &--isDesktop {
    .l-navigation__menuButton {
      display: none;
    }
    .l-navigation__list {
      .c-list__header {
        display: flex;
        background-color: color.$category;
        max-height: calc(#{$linkListHeight} * #{$countLinkList});
      }
    }
  }
  &__list.open-menu {
    .c-list__header {
      max-height: calc(#{$linkListHeight} * #{$countLinkList});
    }
  }
}
