@use '../global/variable/className' as className;
@import '../global/mixin/screens';

.l-post {
  &__vertical {
    border-radius: 4px;
    padding: 30px 35px 25px 35px;
    border: 2px solid rgba(17, 17, 17, 0.1);
  }
}
