@use '../global/variable/colors' as color;

.l-sharing {
  width: 100%;
  position: relative;
  display: flex;
  &__block {
    width: 50%;
    &:nth-child(odd) {
      clip-path: polygon(0 0, 100% 0%, 98% 100%, 0% 100%);
    }
    &:nth-child(even) {
      clip-path: polygon(2% 0, 100% 0%, 100% 100%, 0% 100%);
    }
  }
}
