.progression-blog-content {
  position: relative;
  padding: 0px 0px 25px 0px;
  margin: 0px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}

.progression-studios-default-blog-top .progression-blog-content {
  padding-bottom: 0px;
  border: none;
}
