@use '../../global/variable/className' as className;
@use '../../global/variable/colors' as color;
@import '../../global/mixin/screens';

.p-postImageOverlay {
  // 黄金比1:1.6 でセット
  $height: 360px;
  position: relative;
  overflow: hidden;
  display: block;
  width: calc(#{$height} * 1.6);
  height: $height;
  border-radius: 6px;
  background: color.$black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  @include mq('sm') {
    width: 100%;
  }
  .c-category {
    transform: skew(0);
  }
  .c-heading__post {
    color: color.$white;
  }
  &__content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
    text-shadow: 1px 1px 2px color.$black;
    background-color: rgba($color: color.$black, $alpha: 0.3);
  }
}

.p-postLeftImage {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  height: 360px;
  border-bottom: 2px solid rgba($color: color.$black, $alpha: 0.1);
  &__image {
    width: calc(100% / 3);
    height: 100%;
    background: color.$black;
    position: relative;
    img {
      position: absolute;
      width: auto;
      max-height: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .c-heading__post {
    color: color.$category;
  }
  &__content {
    $margin: 32px;
    width: calc((100% / 3 * 2));
    height: calc(100% - (#{$margin} * 2));
    padding-right: $margin;
    position: relative;
    overflow: hidden;
  }
}

.p-postTopImage {
  // 黄金比1:1.6 でセット
  $width: 360px;
  $height: calc(#{$width} * 1.6);
  display: block;
  width: $width;
  height: $height;
  position: relative;
  &__image {
    border-radius: 6px 6px 0 0;
    background: color.$black;
    height: calc(#{$height} - #{$width});
    width: 100%;
    overflow: hidden;
    position: relative;
    img {
      height: auto;
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .c-heading__post {
    color: color.$category;
  }
  &__content {
    $margin: 32px;
    height: $width;
    padding: $margin;
    position: relative;
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: rgba($color: color.$black, $alpha: 0.1);
  }
  &__excerpt {
    margin-top: 0.5rem;
    color: color.$black;
    overflow: hidden;
    height: 18em;
  }
}
