// Basic Color
$colorWhite: #fff;
$colorWhiteLight: #eaeaea;
$colorGrayLight: #aaa;
$colorGrayDark: #666;
$colorFontBasic: #666;
$colorFontHeading: #3d3d3e;

// Element Color
$colorLink: #4145ee;
$colorLinkHover: #292ca7;
$colorHr: #e7e8eb;
$colorTable: #eaeaea;
$colorTh: #606060;
