// primary

// tailwindcss https://tailwindcss.com/docs/customizing-colors
// basic
$white: #fff;
$black: #000;

// slate
$slate50: #f8fafc;
$slate900: #0f172a;

// gray
$gray100: #f3f4f6;
$gray500: #6b7280;
$gray700: #374151;

// blue
$blue600: #2563eb;
$blue800: #1e40af;

// stone
$stone200: #e7e5e4;

// yellow
$yellow50: #fefce8;
$yellow200: #fde68a;

// Element Color
// link
$elementLink: $blue600;
$elementLinkHover: $blue800;

// hr
$elementThr: $stone200;

// table
$elementTable: $slate50;
$elementTh: $gray500;

// ins
$elementIns: $yellow200;

// mark
$elementMark: $yellow50;
