// primary
$header: rgb(30 2 61);
$footer: $header;
$category: rgb(92 57 242);
$categoryHover: $header;
$navigation: $category;
$scoreBackground: rgb(41 15 72);
$scoreBackgroundBorder: rgb(200 5 229);
$twitter: rgb(82 179 235);
$facebook: rgb(54 85 185);
$rss: rgb(236, 124, 28);

// tailwindcss https://tailwindcss.com/docs/customizing-colors
// basic
$white: rgb(255 255 255);
$black: rgb(0 0 0);

// gray
$gray100: rgb(243 244 246);
$gray300: rgb(209 213 219);
$gray500: rgb(107 114 128);
$gray700: rgb(55 65 81);
$gray900: rgb(17, 24, 39);

// blue
$blue600: rgb(37 99 235);
$blue800: rgb(30 64 175);

// stone
$stone200: rgb(231 229 228);

// yellow
$yellow50: rgb(254 252 232);
$yellow200: rgb(254 240 138);
$yellow500: rgb(245 158 11);

// Element Color
// link
$elementLink: $gray900;
$elementLinkHover: $category;

// hr
$elementThr: $stone200;

// table
$elementTable: $gray100;
$elementTh: $gray500;

// ins
$elementIns: $yellow200;

// mark
$elementMark: $yellow50;

$colors: (
  'white': $white,
  'black': $black,
  'gray-100': $gray100,
  'gray-300': $gray300,
  'gray-500': $gray500,
  'gray-700': $gray700,
  'gray-900': $gray900,
  'blue-600': $blue600,
  'blue-800': $blue800,
  'stone-200': $stone200,
  'yellow-50': $yellow50,
  'yellow-200': $yellow200,
  'yellow-500': $yellow500,
);
