@keyframes ProMoveUp {
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes ProMoveOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
