// https://tailwindcss.com/docs/screens
$breakpoint: (
  sm: 'screen and (640px <= width)',
  md: 'screen and (768px <= width)',
  lg: 'screen and (1024px <= width)',
  xl: 'screen and (1280px <= width)',
  2xl: 'screen and (1536px <= width)',
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
