@mixin all-transition {
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

@mixin select-props-transition($props) {
  transition-duration: 250ms;
  transition-property: #{$props};
  transition-timing-function: ease-in-out;
}

@mixin link-transition {
  transition-duration: 250ms;
  transition-property: color, background-color, opacity, border;
  transition-timing-function: ease-in-out;
}
