@mixin transitionSlider {
  transition-duration: 250ms;
  transition-property: color, background-color, opacity, border;
  transition-timing-function: ease-in-out;
}

@mixin transitionSliderThumbGradient {
  transition-duration: 350ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

@mixin transitionSliderPlay {
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

@mixin transitionLogo {
  transition-duration: 250ms;
  transition-property: padding-top, padding-bottom, color, background-color,
    width;
  transition-timing-function: ease-in-out;
}

@mixin transitionHead {
  transition-duration: 350ms;
  transition-property: background;
  transition-timing-function: ease-in-out;
}

@mixin transitionHeadAfter {
  transition-duration: 350ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

@mixin transitionNoHover {
  transition-duration: 0ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}
