@mixin all-transition {
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

@mixin standard-transition {
  transition-duration: 250ms;
  transition-property: color, background-color, opacity, border;
  transition-timing-function: ease-in-out;
}
